* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.margin-for-innercontainer {
  @include margin-for-section-desktop;
}

.wrapper {
  margin: auto;
  color: $main-color;
  font-family: $main-font;
  font-size: 15px;
  letter-spacing: 0.3px;

  .link {
    color: $main-color;
    text-decoration: none;
    text-transform: uppercase;
  }

  .center-par {
    text-align: center;
    margin-bottom: 40px;
  }
}

.heading-container {
  @include flex-column;
  margin: 0 0 30px;
  padding: 20px;
  color: $main-color;

  &__subheading {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: $secondary-font;
  }

  &__heading {
    margin-bottom: 20px;
    text-align: center;
    font-family: $bold-font;
    text-transform: uppercase;
  }

  &__underline {
    height: 4px;
    width: 7%;
    background-color: $red-line;
  }
}

.hover-container {
  position: absolute;
  top: 0;
  left: 0;
  @include flex-column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: linear-gradient($gradient-color);
  color: $white;

  &:hover {
    opacity: 1;
    transition: .5s;
  }

  &__heading {
    margin: 15px 0;
    font-family: $bold-font;
    text-transform: uppercase;
  }

  &__text {
    font-family: $italic-font;
  }
}

.hover-left-parent {
  &:hover {
    transform: translate(-15px, -15px);
    box-shadow: 10px 10px $light-blue;
  }
}

.picture-and-text-container {
  &__card {
    display: flex;
    justify-content: flex-start;
    padding: 30px 0;
  }

  &__picture {
    margin: 15px;
  }

  &__subheading {
    font-family: $italic-font;
    margin-bottom: 15px;
  }

  &__card-heading {
    margin: 15px 0;
    font-family: $bold-font;
    text-transform: uppercase;
  }
}

.input {
  width: 60%;
  height: 40px;
  border: 1px solid $gradient-grey;
  outline: none;

  &::placeholder {
    padding-left: 10px;
    font-family: $italic-font;
    letter-spacing: 0.64px;
  }
}

.btn {
  width: 39%;
  height: 40px;
  background-color: $light-blue;
  color: $white;
  font-size: 1rem;
  outline: none;
  font-family: $bold-font;
  text-transform: uppercase;
  letter-spacing: 0.64px;
}

.header {
  position: relative;
  height: 625px;
  background-image: linear-gradient($gradient-color), url('../pics/eagle-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;

  .link,
  .link-logo {
    color: $white;
  }

  &__red-line-container {
    height: 30px;
  }

  &__navline {
    z-index: 1001;
    ;
    position: fixed;
    right: 0;
    left: 0;
    @include flex-space-between;
    background-color: $red-container;
  }

  &__link-logo {
    text-decoration: none;
  }

  &__logo {
    font-family: $bold-font;
    padding: 15px;
    font-weight: bold;
    font-size: 25px;

    &:hover {
      text-decoration: none;
    }
  }

  &__navbar-icons-container {
    @include flex-space-between;
  }

  &__nav-list,
  &__link-icon {
    display: inline;
    padding: 10px 5px 5px 5px;
    margin: 10px 0;
  }

  &__icons-container {
    @include flex-center;
  }

  &__nav-link {
    &:hover {
      @include yellow-hover-for-link;
    }
  }

  &__link-icon {
    &:hover {
      filter: sepia(1) saturate(7);
    }
  }

  .burger-container {
    display: none;
  }

  .burger-container-line {
    margin: 3px 0;
    border-radius: 2px;
    width: 20px;
    height: 3px;
    background-color: $white;
  }

  &__heading-button-container {
    @include flex-column;
    margin-bottom: 40px;
    padding-top: 40px;
  }

  &__subheading {
    margin-top: 0;
    font-size: 40px;
    color: $white;
  }

  &__heading {
    margin: 0 150px;
    font-size: 110px;
    color: $white;
  }

  &__underline {
    width: 7%;
    background-color: $white;
  }

  &__button {
    margin: 10px;
    width: 160px;
    height: 40px;
    border: 2px solid $white;
    background: inherit;
    font-size: .8rem;
    font-family: $main-font;
    text-transform: uppercase;
    color: $white;
    outline: none;
  }

  &__slider-container {
    @include flex-space-between;
  }

  &__slider-item-container {
    display: flex;
    align-items: center;
    margin: 10px;
    border-top: 2px solid rgba(255, 255, 255, .7);
    width: 25%;

    &:hover {
      border-image-source: linear-gradient(to left, $white 75%, $red-line 25%);
      border-image-slice: 1;
    }
  }

  &__slider-item-number {
    margin: 3px;
    font-size: 1.2rem;
    font-family: $bold-font;
  }

  &__slider-item {
    text-transform: uppercase;
    font-size: .8rem;
  }
}

.story-about-us {
  &__pics-container {
    @include grid-3-col;
  }

  &__item {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
  }
}

.statistic {
  background-color: $light-blue;
  height: 250px;
  color: $white;
  text-align: center;

  &__container {
    @include flex-space-between;

  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $dark-border;
    height: 250px;
    width: 20%;

    &:nth-child(1) {
      border-left: 1px solid $dark-border;
    }
  }

  &__number {
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: $bold-font;
  }

  &__value {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: .7rem;
    text-transform: uppercase;
  }
}

.amazing-services {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
  }

  &__card {

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-bottom: 1px solid $gradient-grey;
    }
  }
}

.unique-design {
  background-image: linear-gradient($gradient-color-grey), url('../pics/lake-bg.png');
  background-size: cover;
  background-repeat: none;
  background-position: center;

  &__heading-container {
    width: 100%;
  }

  &__container {
    @include flex-column;
  }

  &__pics-container {
    position: relative;
  }

  &__ipad-img {
    align-self: center;
    display: block;
  }

  &__iphone-img {
    position: absolute;
    bottom: -90px;
    right: -150px;
  }
}

.dropdown {
  &__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $gradient-grey;
  }

  &__heading-logo {
    margin: 10px;
  }

  &__heading-text {
    font-family: $bold-font;
    text-transform: uppercase;
  }

  &__open-link {
    margin: 10px;
    margin-left: auto;
    cursor: pointer;
  }

  &__textbox {
    border: 1px solid $gradient-grey;
    overflow: scroll;
    height: 80px;
  }

  &__par {
    margin: 15px;
    margin-right: 30px;
    font-family: $italic-font;
  }
}

.what-we-do {
  &__content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-bottom: 30px;
  }

  &__dropdown-main-container,
  &__person-picture {
    width: 100%;
  }

  &__dropdown-item {
    margin-bottom: 15px;
  }
}

.slider {
  position: relative;

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    transition: .6s;
  }

  &__next {
    right: 0;
  }

  &__left {
    left: 0;
  }

  &__container {
    @include flex-space-between;
    width: 80%;
    margin: auto;
    padding: 60px 0;
  }

  &__left-btn {
    margin-right: 50px;
  }

  &__right-btn {
    margin-left: 40px;
  }


  &__logo {
    margin-right: 15px;
    box-sizing: content-box;
    width: 100px;
    padding: 30px;
  }

  .blue-frame {
    width: 100px;
    border: 3px solid $light-blue;
  }

  &__text-part {
    @include flex-column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
    height: 80px;
  }

  &__par {
    font-size: 1.2rem;
    font-family: $italic-font;
  }

  &__author-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__underline,
  &__subheading {
    margin: 0 10px;
  }
}

.slider-section {
  background-color: $light-gray;
}

.team-container {
  @include grid-3-col;

  &__person-card {
    @include flex-column;
    justify-content: center;
    align-items: center;
  }

  &__img-box {
    position: relative;
  }

  &__picture {
    display: block;
    width: 100%;
  }

  &__name {
    margin: 20px 0;
    text-transform: uppercase;
    font-family: $bold-font;
  }

  &__position {
    margin-bottom: 20px;
    font-family: $italic-font;
  }
}

.meet-our-team {
  &__social-container {
    @include flex-space-between;
  }

  &__social-item-container {
    @include flex-center;
    width: 40px;
    height: 40px;
    background-color: $gradient_yellow;

    &:hover {
      background-color: $red-line;

      .meet-our-team__social-logo {
        filter: sepia(1) brightness(10);
      }
    }
  }

  &__social-logo {
    height: 15px;
  }
}

.logo-section {
  background-color: $light-gray;

  &__container {
    @include flex-space-between;
    padding: 30px 0;
  }

  &__logo {
    width: 15%;
  }
}

.gallery-section {
  display: grid;
  grid-template-areas: "one two five six"
    "three four five seven";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0;
  width: 100%;
  height: 100%;

  &__box {
    position: relative;
    height: 100%;
  }

  &__image {
    display: block;
    width: 100%;
  }

  .box-one {
    grid-area: one;
  }

  .box-two {
    grid-area: two;
  }

  .box-five {
    grid-area: five;
  }

  .box-six {
    grid-area: six;
  }

  .box-three {
    grid-area: three;
  }

  .box-four {
    grid-area: four;
  }

  .box-seven {
    grid-area: seven;
  }
}

.slider-section-with-image {
  .slider__logo {
    border: 0;
    width: 210px;
  }

  .slider__text-part {
    height: 150px;
  }

  .slider__par {
    font-family: $italic-font;
  }
}

.what-people-say {
  background-image: linear-gradient($gradient-color-grey), url('../pics/everest-bg.png');
  background-size: cover;
  background-repeat: none;
  background-position: center;

  &__profile-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    width: 50%;
    padding: 0;
  }

  &__text-box {
    align-items: flex-start;
  }

  &__card-heading,
  &__card-subheading,
  &__card-par {
    margin: 10px 0;
    font-size: .8rem;
  }

  &__person-underline {
    width: 15%;
  }
}

.blue-box {
  position: absolute;
  bottom: 15px;
  left: -15px;
  @include flex-column;
  background-color: $light-blue;
  color: $white;
  font-size: 1rem;
  padding: 10px;

  &__number {
    margin: 0;
  }
}

.latest-blog {
  &__card-container {
    @include grid-3-col;
  }

  &__card {
    width: 100%;
  }

  &__image-container {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 160px;
  }

  &__text-and-social-box {
    @include flex-column;
    justify-content: space-between;
  }

  &__text-box {
    @include flex-column;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 600px;
    padding-bottom: 20px;
    border-bottom: 1px solid $gradient-grey;
  }

  &__social-container {
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;
  }

  &__views,
  &__comments {
    @include flex-space-between;
    margin-right: 20px;
  }

  &__view-link,
  &__comment-link {
    @include flex-center;
    margin-right: 10px;
  }

  &__view-number,
  &__comment-number {
    color: $grey;

    &:hover {
      color: $main-color;
    }
  }
}

.map {
  background-image: linear-gradient($gradient-color-grey), url('../pics/map-bg.png');
  background-size: cover;
  background-repeat: none;
  background-position: center;

  &__link {
    text-decoration: none;
    padding: 40px;
  }

  &__heading {
    color: $red-line;
    padding: 20px;
    margin: 0;
  }
}

.footer {
  background-color: $light-gray;

  &__top-block {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 10px;
    padding: 40px 0;
  }

  &__top-left-block,
  &__top-central-block,
  &__top-right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // height: 400px;
    padding-top: 30px;
  }

  &__bottom-block {
    @include flex-center;
    border-top: 1px solid $grey;
    height: 50px;
  }

  &__black-text {
    font-family: $bold-font;
  }

  &__red-text {
    font-family: $bold-font;
    color: $red-line;
  }
}

.top-left-block {
  &__heading {
    font-size: 2rem;
    font-family: $bold-font;
  }

  &__link {
    text-decoration: none;
    color: $grey;
  }

  &__par {
    font-size: .8rem;
  }

  &__follow-number {
    font-family: $bold-font;
  }

  &__follow-us-msg {
    font-size: .8rem;
  }

  &__social-container {
    border-top: 1px solid $grey;
    padding-top: 30px;

    >* {
      justify-content: center;
      margin-right: 10px;
    }
  }

  &__form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-basis: 1;
  }
}

.top-central-block {
  &__heading {
    font-family: $bold-font;
    text-transform: uppercase;
  }

  &__card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 0;
  }

  &__image {
    margin: 0;
    width: 50%;
  }

  &__text-box {
    @include flex-column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10px;
    font-size: .8rem;
  }

  &__card-heading {
    margin: 0 0 10px 0;
  }

  &__subheading {
    margin: 0;
  }
}

.top-right-block {
  &__heading {
    font-family: $bold-font;
    text-transform: uppercase;
  }

  &__instagram-container {
    @include grid-3-col;
    grid-gap: 5px;
  }

  &__instagram-image {
    display: block;
    width: 100%;
  }

  &__view-more {
    font-family: $italic-font;
    margin-top: 10px;
  }
}

.hide-container {
  display: none;
}

.show-container {
  display: block;
}

.bg-dark {
  background-color: rgba(0, 0, 0, .6);
}

.modal-window {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .8);

}

.modal-image {
  margin: auto;
  height: 100%;
}
