$main-font: 'Montserrat', sans-serif;
$bold-font: 'Montserrat-Bold', sans-serif;
$secondary-font: 'Kaushan Script', cursive;
$italic-font: 'Roboto', cursive;
$white: #ffff;
$light-gray: #f8f8f8;
$main-color: #333333;
$yellow: #fce38a;
$red-line: #f38181;
$light-blue: #95e1d3;
$grey: rgb(200,200,200);
$dark-border: rgba(255, 255, 255, 0.35);
$gradient-pink: rgba(243,129,129,0.9);
$red-container: rgb(241, 114, 114);
$gradient_yellow: rgba(252, 227, 138, 0.9);
$gradient-grey: rgba(226,226,226, .9);
$gradient-color: to top, ($gradient-yellow), ($gradient_pink);
$gradient-color-grey: to bottom, ($gradient-grey), ($gradient-grey);